
*~
src/*.pyc
*.pyc
src/*.sub
src/*.out
src/*.err
.idea/
v_env
data/train/
data/audio/GTZAN/genres
data/experiments/
data/audio_representations/
data/experiments_baseline_dev/
data/experiments_old/
data/experiments_post_old/
data/eval/
data/exp_setup/
data/patches/
*.swp
*.swx
src/*.swp
src/*.swx
*.save
src/*.save
src/vggish_model.ckpt
src/__pycache__/*.pyc
*.au
*.wav
*.mp3
*.tar.gz
env/
