
*~
src/*.pyc
*.pyc
src/*.sub
src/*.out
src/*.err
.idea/
v_env
data/train/
data/audio/GTZAN/genres
data/experiments/
data/audio_representations/*
data/experiments_baseline_dev/
data/experiments_old/
data/experiments_post_old/
data/eval/
data/exp_setup/
data/patches/
*.swp
*.swx
src/*.swp
src/*.swx
*.save
src/*.save
src/vggish_model.ckpt
src/__pycache__/*.pyc
*.au
*.wav
*.mp3
*.tar.gz
env/

# negation to keep precomputed features
!data/audio_representations/training_data_GTZAN_vggish.npz
!data/audio_representations/evaluation_data_GTZAN_vggish.npz
!data/audio_representations/training_data_GTZAN_openl3.npz
!data/audio_representations/evaluation_data_GTZAN_openl3.npz
!data/audio_representations/training_data_GTZAN_MSDmusicnn_taggram.npz
!data/audio_representations/evaluation_data_GTZAN_MSDmusicnn_taggram.npz
!data/audio_representations/training_data_GTZAN_MSDmusicnn_max_pool.npz
!data/audio_representations/evaluation_data_GTZAN_MSDmusicnn_max_pool.npz
