absl-py==0.6.1
astor==0.7.1
audioread==2.1.6
decorator==4.3.0
gast==0.2.0
grpcio==1.16.0
h5py==2.8.0
joblib==0.12.5
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
librosa==0.6.2
llvmlite==0.25.0
Markdown==3.0.1
numba==0.40.1
numpy==1.15.3
pescador==2.0.0
pkg-resources==0.0.0
protobuf==3.6.1
pyzmq==17.1.2
resampy==0.2.1
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
termcolor==1.1.0
Werkzeug==0.14.1
